@using friends_circle.Models
@model FriendListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Your Friends' Circle</h2>
<p class="lead">
    Your Current Location: @Model.location
</p>
<p>
    <a href="@Url.Action("Add")" class="btn btn-success"><i class="fa fa-plus"></i> Create</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Location</th>
    </tr>
    @* @TODO loop through and find users here *@
    @foreach (Friend friend in Model.friendList)
    {
        <tr>
            <td>@Html.DisplayFor(name => friend.name)</td>
            <td>@Html.DisplayFor(street => friend.full_address)</td>
        </tr>
    }

</table>
