@{
    ViewBag.Title = "Index";
}

<h2>Your Friends' Circle</h2>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th></th>
    </tr>
    @* @TODO loop through and find users here *@

</table>
